Repository capactio/website, pull requests merged in 2022-05, with the labels that each got.

#122 Add prereq to Rocket.Chat doc, update goTemplate syntax
  docs/content-development/generating.md
  docs/example/rocketchat-installation.md
Labels: area/documentation

#124 Add capact act wait
  docs/cli/commands/capact_action.md
  docs/cli/commands/capact_action_wait.md
  docs/content-development/generating.md
  docs/content-development/guide.md
  docs/example/mattermost-installation.md
  docs/example/rocketchat-installation.md
  docs/feature/storage-backends/aws-secrets-manager.md
  docs/feature/storage-backends/helm.mdx
Labels: area/cli, area/documentation

#126 Add capact act logs and fix note issues
  docs/cli/commands/capact.md
  docs/cli/commands/capact_action.md
  docs/cli/commands/capact_action_create.md
  docs/cli/commands/capact_action_delete.md
  docs/cli/commands/capact_action_get.md
  docs/cli/commands/capact_action_logs.md
  docs/cli/commands/capact_action_run.md
  docs/cli/commands/capact_action_wait.md
  docs/cli/commands/capact_action_watch.md
  docs/cli/commands/capact_alpha.md
  docs/cli/commands/capact_alpha_archive-images.md
  docs/cli/commands/capact_alpha_archive-images_helm.md
  docs/cli/commands/capact_completion.md
  docs/cli/commands/capact_config.md
  docs/cli/commands/capact_config_get-contexts.md
  docs/cli/commands/capact_config_set-context.md
  docs/cli/commands/capact_environment.md
  docs/cli/commands/capact_environment_create.md
  docs/cli/commands/capact_environment_create_k3d.md
  docs/cli/commands/capact_environment_create_kind.md
  docs/cli/commands/capact_environment_delete.md
  docs/cli/commands/capact_environment_delete_k3d.md
  docs/cli/commands/capact_environment_delete_kind.md
  docs/cli/commands/capact_hub.md
  docs/cli/commands/capact_hub_implementation.md
  docs/cli/commands/capact_hub_implementation_get.md
  docs/cli/commands/capact_hub_interface.md
  docs/cli/commands/capact_hub_interface_browse.md
  docs/cli/commands/capact_hub_interface_get.md
  docs/cli/commands/capact_install.md
  docs/cli/commands/capact_login.md
  docs/cli/commands/capact_logout.md
  docs/cli/commands/capact_manifest.md
  docs/cli/commands/capact_manifest_generate.md
  docs/cli/commands/capact_manifest_generate_attribute.md
  docs/cli/commands/capact_manifest_generate_implementation.md
  docs/cli/commands/capact_manifest_generate_implementation_empty.md
  docs/cli/commands/capact_manifest_generate_implementation_helm.md
  docs/cli/commands/capact_manifest_generate_implementation_terraform.md
  docs/cli/commands/capact_manifest_generate_interface.md
  docs/cli/commands/capact_manifest_generate_interfacegroup.md
  docs/cli/commands/capact_manifest_generate_type.md
  docs/cli/commands/capact_manifest_validate.md
  docs/cli/commands/capact_policy.md
  docs/cli/commands/capact_policy_apply.md
  docs/cli/commands/capact_policy_edit.md
  docs/cli/commands/capact_policy_get.md
  docs/cli/commands/capact_typeinstance.md
  docs/cli/commands/capact_typeinstance_apply.md
  docs/cli/commands/capact_typeinstance_create.md
  docs/cli/commands/capact_typeinstance_delete.md
  docs/cli/commands/capact_typeinstance_edit.md
  docs/cli/commands/capact_typeinstance_get.md
  docs/cli/commands/capact_upgrade.md
  docs/cli/commands/capact_version.md
  docs/example/mattermost-installation.md
  docs/example/rocketchat-installation.md
Labels: enhancement, area/cli, area/documentation

#129 Sync Capact CLI docs with capactio/capact repo
  docs/cli/commands/capact_action_get.md
  docs/cli/commands/capact_action_logs.md
  docs/cli/commands/capact_hub_implementation_get.md
  docs/cli/commands/capact_hub_interface_get.md
  docs/cli/commands/capact_policy_get.md
  docs/cli/commands/capact_typeinstance_apply.md
  docs/cli/commands/capact_typeinstance_create.md
  docs/cli/commands/capact_typeinstance_get.md
Labels: area/cli

#130 Adjust generating manifests documentation
  docs/content-development/generating.md
Labels: area/documentation
