Repository capactio/website, pull requests merged in 2022-02, with the labels that each got.

#107 Nest Interface Policy under `interface` field
  docs/content-development/generating.md
  docs/content-development/guide.md
  docs/content-development/terraform-manifests.md
  docs/example/mattermost-installation.md
  docs/feature/policies/action-policy.md
  docs/feature/policies/global-policy.md
  docs/feature/policies/overview.md
  docs/feature/policies/workflow-step-policy.md
Labels: enhancement, breaking, area/documentation, area/engine

#108 Add policy description about selecting TypeInstance backend
  docs/feature/policies/overview.md
Labels: area/documentation, area/engine

#110 Mention gRPC client and server code generation
  community/development/development-guide.md
Labels: enhancement, area/community, area/documentation

#109 Update binary location in Google Storage
  docs/cli/getting-started.mdx
Labels: area/cli, area/documentation
